.audio {
  width: 100%;
  height: 260px;
  margin-top: 90px;
  overflow: hidden;
}
.audio h2 {
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 400;
}
.audioBackground {
  position: relative;
  width: 600px;
  height: 180px;
  display: block;
  margin: 42px auto 0 auto;
  border-radius: 0;
  background-color: rgb(241, 243, 244);
}
.audioBackground audio {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 60px;
}
/*when screen width < 1162 and >  767px*/
@media (min-width: 768px) and (max-width: 1161px) {
  .audio h2 {
    font-size: 32px;
    line-height: 26.7px;
    letter-spacing: 0.8px;
  }
  .audioBackground {
    width: calc(100% - 34px);
    margin-left: auto;
    margin-right: auto;
  }
  .audioBackground audio {
    width: calc(100% - 200px);
  }
}
/*rwd design when screen width less than 768px*/
@media (max-width: 767px) {
  .audio h2 {
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
  .audioBackground {
    width: 100%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  .audioBackground audio {
    width: calc(100% - 200px);
  }
}
