.audio {
  width: 100%;
  height: 260px;
  margin-top: 90px;
}
.audio h2 {
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 400;
}
.audioBackground {
  position: relative;
  width: 600px;
  height: 180px;
  display: block;
  margin: 42px auto 0 auto;
  border-radius: 0;
  background-color: rgb(241, 243, 244);
}
.audioBackground audio {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 60px;
}
