.editorPicks {
  position: relative;
  width: calc(100% - 30px);
  max-width: 1230px;
  height: 426px;
  margin: 28px auto 0 auto;
  overflow: hidden;
}
.editorPicks::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 30px;
  background-color: black;
}
.stories {
  display: none;
}
.wrap {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.title {
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}
.subscribe {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.9px;
  font-family: "Roboto", sans-serif;
  color: rgb(233, 6, 6);
  text-decoration: underline;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.subscribe img {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}
.cards {
  margin-top: 30px;
  display: flex;
  width: 100%;
}
.card {
  width: 285px;
  height: 190px;
  margin-bottom: 25px;
  margin-right: 29px;
}
.context {
  width: 285px;
  font-size: 20px;
  line-height: 23.6px;
  letter-spacing: 0.3px;
  font-family: "Zilla Slab", sans-serif;
}

/*when screen width < 1162 and >  767px*/
@media (min-width: 768px) and (max-width: 1161px) {
  .editorPicks {
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding: 30px 18px 0 18px;
    overflow: hidden;
  }
  .editorPicks::before {
    top: 0;
    left: 18px;
    position: absolute;
    width: calc(100% - 36px);
  }
  .wrap {
    width: 100%;
  }
  .stories {
    display: none;
  }
  .title {
    margin-left: 2px;
    font-size: 32px;
    line-height: 26.7px;
    letter-spacing: 0.8px;
  }
  .subscribe {
    margin-right: 2px;
  }
  .cards {
    position: relative;
    overflow: hidden;
  }
  .blurLeft {
    position: absolute;
    width: 70px;
    height: 225px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .blurRight {
    position: absolute;
    width: 70px;
    height: 225px;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, transparent, black);
  }
  .buttonLeft {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonRight {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translate(50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonLeft img,
  .buttonRight img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
  .card {
    width: 336px;
    height: 225px;
    margin-right: 8px;
  }
}
/*rwd design when screen width less than 768px*/
@media (max-width: 767px) {
  .editorPicks {
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px 0 80px 0;
    padding: 30px 0 0 0;
    overflow: hidden;
  }
  .editorPicks::before {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .wrap {
    display: block;
    width: 100%;
    margin-left: 8px;
  }
  .title {
    margin-left: 2px;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
  .subscribe {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.7px;
    margin: 0;
    margin-top: 30px;
    display: block;
  }
  .subscribe img {
    width: 16 px;
    height: 16px;
  }
  /*cards*/
  .cards {
    position: relative;
  }
  .cards .cardWrap:first-of-type {
    margin-left: 8px;
  }
  .cardWrap {
    width: 80%;
    max-width: 613.59px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  .card {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .blurLeft {
    display: none;
    position: absolute;
    width: 70px;
    height: 225px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .blurRight {
    display: none;
    position: absolute;
    width: 70px;
    height: 225px;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, transparent, black);
  }
  .buttonLeft {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonRight {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translate(50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonLeft img,
  .buttonRight img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
  .stories {
    text-align: center;
    display: block;
    margin-top: 28px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    font-family: "Zilla Slab", sans-serif;
  }
  .storiesButton {
    margin-top: 18px;
    margin-bottom: 22px;
    height: 12px;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(151, 151, 151);
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  .black {
    background-color: rgb(13, 13, 13);
  }
}
