.more {
  width: 100%;
  height: auto;
  margin-top: 80px;
  overflow: hidden;
}
.exporeMoreTitle {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.stories {
  display: none;
}
.aspectRatio {
  width: 100%;
  height: 0;
  padding-top: 36.4%;
  position: relative;
}
.cards {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}
.cards div {
  width: calc(20% - 2.4px);
  height: 100%;
  max-width: 285px;
  max-height: 520px;
  margin-right: 3px;
  transition: transform 0.2s ease-in-out;
}
.cards div:hover {
  transform: scale(1.02);
}
/*signUp area*/
.signUp {
  position: relative;
  margin: 96px auto 160px auto;
  width: 990px;
  height: 185px;
  border: 1px solid black;
}
.signUp input {
  position: absolute;
  right: 220px;
  top: 50px;
  width: 300px;
  height: 40px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
}
.signUp input:focus {
  outline: 1px solid gray;
}
.signUp > p {
  font-family: sans-serif;
  position: absolute;
  right: 35px;
  top: 110px;
  width: 485px;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.5px;
}
.redWords {
  color: rgb(233, 6, 6);
}
.signUp button {
  position: absolute;
  right: 35px;
  top: 50px;
  color: white;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  width: 150px;
  height: 40px;
  border: none;
  display: block;
  border-radius: 30px;
  background-color: rgb(233, 6, 6);
}
.grayBackground {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 241, 242);
  width: 1030px;
  height: 155px;
  z-index: -1;
}
.grayBackground p {
  margin-left: 90px;
  width: 350px;
  font-size: 19px;
  line-height: 25.3px;
  letter-spacing: -0.2px;
  font-family: "Zilla Slab", sans-serif;
  margin-right: 35px;
}
.grayBackground p span {
  color: rgb(233, 6, 6);
  font-weight: 700;
}
.br {
  display: none;
}
.icon {
  line-height: 72px;
  position: absolute;
  top: 45px;
  left: -20px;
  width: 90px;
  height: 72px;
  background-color: rgb(240, 241, 242);
}
.icon::before {
  position: absolute;
  left: 13px;
  display: block;
  content: "";
  width: 15px;
  height: 1px;
  background-color: black;
}
.icon::after {
  position: absolute;
  bottom: 0;
  left: 13px;
  display: block;
  content: "";
  width: 15px;
  height: 1px;
  background-color: black;
}
.icon img {
  position: absolute;
  left: -10px;
  top: 2px;
}
/*climate*/
.climate {
  position: relative;
  width: calc(100% - 30px);
  max-width: 1230px;
  height: 680px;
  margin: 0 auto 0 auto;
  padding-top: 30px;
}
.climate::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: black;
}
.titleAndSubscribe {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.titleAndSubscribe h3 {
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-family: "Oswald", sans-serif;
  margin-left: 7px;
  margin-bottom: 34px;
  cursor: pointer;
  font-weight: 400;
}
.titleAndSubscribe p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.9px;
  font-family: "Roboto", sans-serif;
  color: rgb(233, 6, 6);
  text-decoration: underline;
  margin-right: 4px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.titleAndSubscribe img {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}
.wrap {
  display: flex;
}
.dragging {
  display: contents;
}
.climateLeftSide h3 {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}
.climateLeftSide h3:hover {
  color: rgb(233, 6, 6);
}
.climateLeftSide p {
  font-weight: 400;
  line-height: 26px;
  font-size: 20px;
  letter-spacing: -0.1px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: 600px;
  font-weight: 300;
}
.bigPhoto {
  width: 600px;
  height: 400px;
  margin-bottom: 35px;
}
/*climate right part*/
.climateRightSide {
  display: flex;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: calc((100% - 60px) / 2);
  height: 0;
  padding-top: calc(((100% - 60px) / 2) * 0.6);
  margin-left: auto;
}
.card p {
  font-weight: 400;
  line-height: 23.6px;
  letter-spacing: 0.3px;
  font-size: 20px;
  font-family: "Zilla Slab", sans-serif;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  margin-top: 20px;
}
.card p:hover {
  color: rgb(233, 6, 6);
}
.pic {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
/*politics*/
.politics {
  position: relative;
  max-width: 1230px;
  width: calc(100% - 30px);
  height: 700px;
  margin: 95px auto 0 auto;
  padding-top: 30px;
}
.politics::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: black;
}

.politicsLeftSide h3 {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}
.politicsLeftSide h3:hover {
  color: rgb(233, 6, 6);
}
.politicsLeftSide p {
  font-weight: 400;
  line-height: 26px;
  font-size: 20px;
  letter-spacing: -0.1px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: 600px;
  font-weight: 300;
}

/*climate right part*/
.politicsRightSide {
  display: flex;
  flex-wrap: wrap;
}

/*when screen width < 1162 and >  767px*/
@media (min-width: 768px) and (max-width: 1161px) {
  .exporeMoreTitle {
    font-size: 32px;
    line-height: 26.7px;
    letter-spacing: 0.8px;
  }
  .stories {
    display: none;
  }
  .signUp {
    width: calc(100% - 72px);
    max-width: 990px;
  }
  .signUp button {
    width: 20%;
  }
  .signUp input {
    right: calc(20% + 70px);
    width: 32%;
  }
  .signUp > p {
    width: calc(52% + 35px);
  }
  .grayBackground {
    width: calc(100% + 40px);
  }
  .grayBackground p {
    width: 25%;
  }
  /*climate part*/
  .titleAndSubscribe h3 {
    margin-left: 0;
    font-size: 32px;
    line-height: 26.7px;
    letter-spacing: 0.8px;
  }
  .climate,
  .politics {
    position: relative;
    width: calc(100% - 30px);
    height: auto;
    padding-right: 0;
    padding-left: 0;
  }
  .climate::before,
  .politics::before {
    width: 100%;
  }
  .wrap {
    overflow: hidden;
    width: 100%;
  }
  .blurLeft {
    position: absolute;
    width: 70px;
    height: 223px;
    top: 90px;
    left: 0;
    z-index: 1;
  }
  .blurRight {
    position: absolute;
    width: 70px;
    height: 223px;
    top: 90px;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, transparent, black);
  }
  .buttonLeft {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonRight {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translate(50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonLeft img,
  .buttonRight img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
  .climateLeftSide,
  .politicsLeftSide {
    flex-shrink: 0;
    width: 338px;
    height: 310px;
    margin-right: 8px;
  }
  .bigPhoto {
    margin-bottom: 30px;
  }
  .climateLeftSide h3,
  .politicsLeftSide h3 {
    font-size: 20px;
    line-height: 23.6px;
    letter-spacing: 0.3px;
  }
  .climateLeftSide p,
  .politicsLeftSide p {
    display: none;
  }
  .bigPhoto {
    width: 100%;
    height: 223px;
  }
  .climateRightSide,
  .politicsRightSide {
    display: contents;
    margin: 0;
    padding: 0;
    outline: 1px solid yellow;
    overflow: hidden;
  }
  .card {
    width: 338px;
    height: 330px;
    flex-shrink: 0;
    margin-right: 8px;
    padding: 0;
  }
  .pic {
    position: relative;
    width: 100%;
    height: 223px;
  }
  .grayBackground input {
    display: none;
  }
}
/*rwd design when screen width less than 768px*/
@media (max-width: 767px) {
  .exporeMoreTitle {
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
  }
  .stories {
    text-align: center;
    display: block;
    margin-top: 28px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    font-family: "Zilla Slab", sans-serif;
  }
  .storiesButton {
    margin-top: 18px;
    margin-bottom: 22px;
    height: 12px;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    margin-left: 11px;
    margin-right: 11px;
    cursor: pointer;
  }
  .smallMarginCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(151, 151, 151);
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
  }
  .black {
    background-color: rgb(13, 13, 13);
  }
  .aspectRatio {
    height: 546.797px;
  }
  .cards {
    align-items: center;
  }
  .cards div {
    max-width: none;
    max-height: none;
    position: absolute;
    width: 240px;
    height: 437.44px;
    z-index: -2;
    transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease;
  }
  .cards div:hover {
    transform: none;
  }
  .signUp {
    width: calc(100% - 72px);
    max-width: 990px;
    margin-top: 180px;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  .signUp input {
    font-size: 16px;
    top: 120px;
    left: 35px;
    width: calc(100% - 70px);
    height: 40px;
    padding-left: 18px;
    border: none;
    position: absolute;
    display: block;
    z-index: 1;
    border-radius: 5px;
  }
  .signUp input:focus {
    outline: 1px solid gray;
  }
  .signUp button {
    position: absolute;
    top: 175px;
    left: 35px;
    width: calc(100% - 70px);
    height: 40px;
    border: none;
    display: block;
    border-radius: 30px;
    color: white;
    background-color: rgb(233, 6, 6);
  }
  .signUp button:hover {
    color: rgb(233, 6, 6);
    background-color: white;
  }
  .signUp p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    width: calc(100% - 90px);
    top: 255px;
    margin: 0;
  }
  .icon {
    width: 64px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .icon img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
  }
  .icon::before {
    width: 1px;
    height: 30px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .icon::after {
    width: 1px;
    height: 30px;
    left: 64px;
    top: 50%;
    transform: translateY(-50%);
  }
  .grayBackground {
    display: block;
    top: 73%;
    width: calc(100% + 40px);
    height: 375px;
  }
  .grayBackground p {
    text-align: center;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 95px;
    font-size: 20px;
    line-height: 26.6px;
    letter-spacing: -0.2px;
  }
  .br {
    display: block;
  }
  /*climate part*/
  .titleAndSubscribe {
    display: block;
  }
  .titleAndSubscribe h3 {
    margin-left: 0;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
  .titleAndSubscribe p {
    justify-content: start;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
  .titleAndSubscribe p img {
    width: 22px;
    height: 16px;
  }
  .climate,
  .politics {
    position: relative;
    width: calc(100% - 30px);
    height: auto;
    padding-right: 0;
    padding-left: 0;
  }
  .climate::before,
  .politics::before {
    width: 100%;
  }
  .wrap {
    overflow: hidden;
    width: 100%;
  }
  .dragging {
    width: 100%;
    height: auto;
    display: flex;
  }
  .blurLeft {
    display: none;
    position: absolute;
    width: 70px;
    height: 223px;
    top: 210px;
    left: 0;
    z-index: 1;
  }
  .blurRight {
    display: none;
    position: absolute;
    width: 70px;
    height: 223px;
    top: 210px;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, transparent, black);
  }
  .buttonLeft {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonRight {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translate(50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonLeft img,
  .buttonRight img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
  .climateLeftSide,
  .politicsLeftSide {
    flex-shrink: 0;
    max-width: 613px;
    width: 80%;
    height: auto;
    margin-right: 8px;
  }
  .bigPhoto {
    margin-bottom: 30px;
  }
  .climateLeftSide h3,
  .politicsLeftSide h3 {
    font-size: 20px;
    line-height: 23.6px;
    letter-spacing: 0.3px;
  }
  .climateLeftSide p,
  .politicsLeftSide p {
    display: none;
  }
  .bigPhoto {
    aspect-ratio: 1 / 1;
    max-width: 613px;
    width: 100%;
    height: auto;
  }
  .climateRightSide,
  .politicsRightSide {
    width: 100%;
    height: auto;
    display: contents;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .card {
    aspect-ratio: 1 / 1;
    width: 80%;
    max-width: 613px;
    height: auto;
    flex-shrink: 0;
    margin-right: 8px;
    padding: 0;
  }
  .pic {
    position: relative;
    aspect-ratio: 1 / 1;
    max-width: 613px;
    width: 100%;
    height: auto;
  }
}
