.others {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 1260px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.title {
  margin-top: 80px;
  width: 100%;
  position: relative;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.title::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 1260px;
  height: 1px;
  top: 0;
  background-color: black;
}
.title h3 {
  margin-left: 4px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.title p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.9px;
  font-family: "Roboto", sans-serif;
  color: rgb(233, 6, 6);
  text-decoration: underline;
  margin-right: 4px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.title img {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}
.stories {
  display: none;
}
.wrap {
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
.offset {
  display: contents;
}
.card {
  margin-right: 8px;
}
.card img {
  width: 285px;
  height: 190px;
  margin-bottom: 30px;
  object-position: center center;
}
.card h4 {
  width: 285px;
  font-size: 20px;
  line-height: 23.6px;
  letter-spacing: 0.3px;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 500;
}
.card h4:hover {
  cursor: pointer;
  color: rgb(233, 6, 6);
}
/*when screen width < 1162 and >  767px*/
@media (min-width: 768px) and (max-width: 1161px) {
  .title h3 {
    font-size: 32px;
    line-height: 26.7px;
    letter-spacing: 0.8px;
  }
  .wrap {
    position: relative;
    width: 100%;
    height: auto;
  }
  .card {
    width: 338px;
    height: 330px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  .card img {
    width: 100%;
    height: 223px;
    object-position: center center;
  }
  .card h4 {
    width: 90%;
  }
  .blurLeft {
    position: absolute;
    width: 70px;
    height: 223px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .blurRight {
    position: absolute;
    width: 70px;
    height: 223px;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, transparent, black);
  }
  .buttonLeft {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonRight {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translate(50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonLeft img,
  .buttonRight img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
}
/*rwd design when screen width less than 768px*/
@media (max-width: 767px) {
  .title {
    flex-direction: column;
    align-items: start;
  }
  .title h3 {
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
  .title p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
  .stories {
    text-align: center;
    display: block;
    margin-top: 28px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    font-family: "Zilla Slab", sans-serif;
  }
  .storiesButton {
    margin-top: 18px;
    margin-bottom: 22px;
    height: 12px;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(151, 151, 151);
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
  }
  .black {
    background-color: rgb(13, 13, 13);
  }
  .wrap {
    position: relative;
    width: 100%;
    height: auto;
  }
  .offset {
    width: 100%;
    height: auto;
    display: flex;
  }
  .card {
    max-width: 613px;
    width: 80%;
    height: auto;
    flex-shrink: 0;
    margin-right: 8px;
  }
  .card img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-position: center center;
  }
  .card h4 {
    width: 90%;
    margin-bottom: 10px;
  }
  .blurLeft {
    display: none;
    position: absolute;
    width: 70px;
    height: 223px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .blurRight {
    display: none;
    position: absolute;
    width: 70px;
    height: 223px;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, transparent, black);
  }
  .buttonLeft {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonRight {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translate(50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
  }
  .buttonLeft img,
  .buttonRight img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
}
