.wrap {
  display: flex;
  width: 100%;
  height: 800px;
  background-image: linear-gradient(to right, rgb(19, 19, 19), rgb(20, 15, 36));
  padding-bottom: 70px;
  overflow: hidden;
  color: rgb(235, 235, 235);
  justify-content: center;
}
.main {
  position: relative;
  height: 0;
  width: calc(100% - 554px);
  padding-top: calc((100% - 554px) * 0.56);
  max-width: 782px;
  margin-left: 50px;
}
.button {
  top: 70px;
  position: absolute;
  display: block;
  color: white;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  outline: none;
  border: none;
}
.sampleVideo {
  position: absolute;
  top: 135px;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
.sampleVideo iframe {
  width: 100%;
  height: 100%;
}
.introduction {
  margin-top: 36px;
  display: flex;
}
.time {
  width: 290px;
  margin-right: 115px;
}
.time h3 {
  font-size: 28px;
  line-height: 38.1px;
  letter-spacing: 0.5px;
  font-family: "Zilla Slab", sans-serif;
  margin-bottom: 24px;
  font-weight: 500;
}
.time footer {
  font-size: 16px;
  line-height: 13.3px;
  letter-spacing: 0.2px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(180, 181, 185);
}
.context {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-family: "PT Serif", sans-serif;
  width: 370px;
}
/*watchnext part*/
.watchNext {
  width: 410px;
  margin: 140px 50px 0 44px;
}
.watchNextTitle {
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 25px;
}
.card {
  display: flex;
}
.video {
  position: relative;
  width: 164px;
  height: 93px;
  margin-right: 15px;
  margin-bottom: 44px;
}
.video:hover:not(.playingNow)::after {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.1px;
  font-family: "Roboto", sans-serif;
  width: 60px;
  height: 22px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  position: absolute;
  content: "PLAY";
  border: 1.5px solid red;
  border-radius: 25px;
}

.playingNow {
  position: relative;
  border: 2px solid white;
}
.playingNow::after {
  font-size: 18px;
  line-height: 23.9px;
  letter-spacing: 0.1px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  content: "NOW PLAYING";
}
.watchNextTitleAndTime {
  width: 178px;
  height: 80px;
}
.watchNextTitleAndTime h4 {
  font-size: 18px;
  line-height: 23.9px;
  letter-spacing: 0;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.watchNextTitleAndTime footer {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1px;
  font-family: "Roboto", sans-serif;
  color: rgb(180, 181, 185);
}
/*when screen width < 1162 and >  767px*/
@media (min-width: 768px) and (max-width: 1161px) {
  .wrap {
    overflow: hidden;
    display: block;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .main {
    position: relative;
    max-width: 100%;
    width: calc(100% - 100px);
    height: 0;
    padding-top: calc((100% - 100px) * 0.58);
    margin: 40px auto 0 auto;
  }
  .button {
    position: absolute;
    top: 0;
    font-size: 32px;
    line-height: 26.7px;
    letter-spacing: 0.8px;
  }
  .sampleVideo {
    top: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .sampleVideo iframe {
    width: 100%;
    height: 100%;
  }
  .introduction {
    display: block;
  }
  .time {
    width: 100%;
    margin: 0 auto 25px auto;
  }
  .context {
    width: 100%;
    margin: 0 auto 0 auto;
  }
  /*watch next part*/
  .watchNext {
    position: relative;
    margin: 300px auto 20px auto;
    width: 90%;
    height: 0;
    padding-top: 30%;
  }
  .watchNextTitle {
    position: absolute;
    top: 0;
  }
  .cards {
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    top: 45px;
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: 23%;
    height: 45%;
    display: block;
  }
  .video {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .watchNextTitleAndTime h4 {
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 20px;
  }
}
/*rwd design when screen width less than 768px*/
@media (max-width: 767px) {
  .wrap {
    overflow: hidden;
    display: block;
    height: auto;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .main {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .button {
    position: relative;
    top: 0;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.6px;
    margin: 40px 0 20px 32px;
  }
  .sampleVideo {
    top: 0;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
  }
  .sampleVideo iframe {
    max-width: 686px;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.56;
  }
  .introduction {
    display: block;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .time {
    width: 100%;
    margin: 0 auto 25px auto;
  }
  .context {
    width: 100%;
    margin: 0 auto 0 auto;
  }
  /*watch next part*/
  .watchNext {
    position: relative;
    margin: 0 auto 0 auto;
    width: calc(100% - 60px);
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
  }
  .watchNextTitle {
    position: relative;
  }
  .cards {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: 165px;
    height: 100%;
    aspect-ratio: 1 / 0.56;
    flex-shrink: 0;
    display: block;
    margin-right: 30px;
  }
  .video {
    width: 165px;
    height: 93px;
    margin-bottom: 20px;
  }
  .watchNextTitleAndTime {
    height: auto;
  }
  .watchNextTitleAndTime h4 {
    width: 165px;
    height: auto;
    font-size: 15px;
    line-height: 20px;
  }
  .watchNextTitleAndTime footer {
    width: 165px;
  }
}
