.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 78px;
  overflow: hidden;
}
.h2 {
  text-align: center;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.9px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.stories {
  display: none;
}
.cardGroups {
  display: flex;
  max-width: 1432px;
  width: 100%;
}
.leftButton {
  display: none;
}
.rightButton {
  display: none;
}
.aspectRatio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 28%;
}
.cardWrap {
  top: 48px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}
.card {
  position: relative;
  margin-right: 0.6%;
  width: 23%;
  height: 100%;
}
.firstCard {
  margin-left: 0.6%;
}
.h3 {
  position: absolute;
  left: 5%;
  bottom: calc(5% + 100px);
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 24px;
  color: white;
  background-color: rgb(185, 35, 24);
}
.content {
  position: absolute;
  left: 5%;
  bottom: calc(5% + 25px);
  width: 185px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-family: "Zilla Slab", sans-serif;
  color: white;
  font-weight: 600;
}
.footer {
  position: absolute;
  left: 5%;
  bottom: 5%;
  /* margin: 0 20% 0 5%; */
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1px;
  font-family: "Roboto", sans-serif;
  color: white;
}
/*rwd design when screen width between 768 ~ 1161*/
@media (min-width: 768px) and (max-width: 1161px) {
  .main {
    overflow: hidden;
  }
  .h2 {
    font-size: 32px;
    line-height: 26.7px;
    letter-spacing: 0.8px;
  }
  .cardGroups {
    position: relative;
    top: 48px;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
  .blur {
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .blurRight {
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(90deg, transparent, black);
  }
  .cardGroups button {
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    border: none;
  }
  .card {
    position: relative;
    margin-right: 8px;
    width: 23%;
    height: 100%;
  }
  .firstCard {
    margin-left: 8px;
  }
  .leftButton {
    left: 8px;
    display: none;
    align-items: center;
  }
  .rightButton {
    right: 8px;
    display: block;
    align-items: center;
  }
  .rightButton img,
  .leftButton img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
  .aspectRatio {
    width: 100%;
    height: 420px;
    padding: 0;
  }
  .cardWrap {
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card {
    flex-shrink: 0;
    width: 280px;
    height: 420px;
  }
  .h3 {
    margin-top: 100%;
  }
}
/*rwd design when screen width less than 768px*/
@media (max-width: 767px) {
  .main {
    overflow: hidden;
    padding-bottom: 38px;
  }
  .h2 {
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
  .stories {
    text-align: center;
    display: block;
    margin-top: 28px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    font-family: "Zilla Slab", sans-serif;
  }
  .storiesButton {
    margin-top: 18px;
    margin-bottom: 22px;
    height: 12px;
    width: auto;
    display: flex;
  }
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(151, 151, 151);
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  .black {
    background-color: rgb(13, 13, 13);
  }
  .cardGroups {
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .blur {
    display: none;
  }
  .blurRight {
    display: none;
  }
  .cardGroups button {
    display: none;
  }
  .aspectRatio {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    padding-top: 123%;
  }
  .cardWrap {
    top: 0;
    width: 100%;
    height: 100%;
  }
  .card {
    flex-shrink: 0;
    width: auto;
    height: 100%;
    aspect-ratio: 2 / 3;
    margin-right: 8px;
  }
  .firstCard {
    margin-left: 8px;
  }
  .h3 {
    margin-top: 100%;
    transform: translate(calc(100%));
  }
}
